body {

    
    background-image: url('C:/Users/rushd/Downloads/laptop%20pink%20heart%20aura%20wallpaper.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    }